body{
    background-color: black;
}
h1,p{
    font-family : 'Libre Baskerville', serif;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
}
p{
    text-transform: capitalize;
}
img{
    border: 5px solid whitesmoke;
    width: 100%;
    border-radius: 2px;
}
div{
    width: 60%;
    margin-left: 20%;
    height: 100%;
    margin-top: 10px;
}
